.red-line-truck {
  width: 100%;
}

.contenttt {
  padding: 60px;
  margin-top: 65px;
  background-image: url("../../assets/Rectangle\ 192.png");
}
.logos {
}
.content-logo {
  h6 {
    color: red;
    font-size: 28px;
  }
  h1 {
    color: red;
    font-size: 75px;
    font-weight: 700;
  }
}
.content-with-btn {
  p {
    font-size: 20px;
  }
  button {
    padding: 8px;
    border-radius: 15px;
    width: 30%;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .contenttt {
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .col-4 {
      width: fit-content;
    }
    .content-logo {
      h6 {
        font-size: 25px;
      }
      h1 {
        font-size: 30px;
        align-self: center;
        br{
          display: none;
        }
      }
    }

    .col-8 {
      width: 100%;
    }

    .content-with-btn button {
      width: 100%;
      padding: 4px;
      border-radius: 7px;
      font-size: 16px;
      font-weight: 500;
    }

    .content-with-btn p {
      font-size: 16px;
      text-align: justify;
    }
    
  }
}
